.preloader {
  overflow: hidden;
  transition: opacity .65s;
  color: #fff;
  text-align: center;
}

.preloader-inner span {
  opacity: 0;
  display: inline-block;
}

@keyframes loader_animation {
  0%,
  to {
    opacity: 0
  }
  0% {
    transform: translateX(-300px);
  }
  33%,
  66% {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes loader_animation {
  0%,
  to {
    opacity: 0
  }
  0% {
    transform: translateX(-300px);
  }
  33%,
  66% {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-moz-keyframes loader_animation {
  0%,
  to {
    opacity: 0
  }
  0% {
    transform: translateX(-300px);
  }
  33%,
  66% {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-o-keyframes loader_animation {
  0%,
  to {
    opacity: 0
  }
  0% {
    transform: translateX(-300px);
  }
  33%,
  66% {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

.preloader-inner span:nth-child(6) {
  animation: loader_animation 3s infinite ease-in-out;
  -webkit-animation: loader_animation 3s infinite ease-in-out;
  -moz-animation: loader_animation 3s infinite ease-in-out;
  -o-animation: loader_animation 3s infinite ease-in-out;
}

.preloader-inner span:nth-child(5) {
  animation: loader_animation 3s .1s infinite ease-in-out;
  -webkit-animation: loader_animation 3s .1s infinite ease-in-out;
  -moz-animation: loader_animation 3s .1s infinite ease-in-out;
  -o-animation: loader_animation 3s .1s infinite ease-in-out;
}

.preloader-inner span:nth-child(4) {
  animation: loader_animation 3s .2s infinite ease-in-out;
  -webkit-animation: loader_animation 3s .2s infinite ease-in-out;
  -moz-animation: loader_animation 3s .2s infinite ease-in-out;
  -o-animation: loader_animation 3s .2s infinite ease-in-out;
}

.preloader-inner span:nth-child(3) {
  animation: loader_animation 3s .3s infinite ease-in-out;
  -webkit-animation: loader_animation 3s .3s infinite ease-in-out;
  -moz-animation: loader_animation 3s .3s infinite ease-in-out;
  -o-animation: loader_animation 3s .3s infinite ease-in-out;
}

.preloader-inner span:nth-child(2) {
  animation: loader_animation 3s .4s infinite ease-in-out;
  -webkit-animation: loader_animation 3s .4s infinite ease-in-out;
  -moz-animation: loader_animation 3s .4s infinite ease-in-out;
  -o-animation: loader_animation 3s .4s infinite ease-in-out;
}

.preloader-inner span:nth-child(1) {
  animation: loader_animation 3s .5s infinite ease-in-out;
  -webkit-animation: loader_animation 3s .5s infinite ease-in-out;
  -moz-animation: loader_animation 3s .5s infinite ease-in-out;
  -o-animation: loader_animation 3s .5s infinite ease-in-out;
}
